*{
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
.container{
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}
main{
  background-color: #2F2F2F;
  height: 100%;
  padding: 40px 0;
}
.inner{
  background-color: #FDEC52;
  /* height: 650px; */
  padding-bottom: 120px;
}

.inner .title{
  width: 550px;
  height: 40px;
  padding: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner .title h1{
  font-size: 20px;
  margin-block-start: 0em;
    margin-block-end: 0em;
}
.inner .title img{
  opacity: 0.5;
  width: 15px;
  transition: all 0.3s ease;
}
.inner .title img:hover{
  opacity: 1;
  width: 17px;
}
.inner .card{
  margin-left: 70px;
  background-color: #fff;
  width: 550px;
  box-shadow: -24px 24px 38px 0px rgba(16, 16, 17, 0.2);
  padding: 0 30px;
}
.inner .card .avatar img{
  border-radius: 50%;
  transform: translateY(-30px);
}

.card form input{
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
  margin-bottom: 40px;
  width: 100%;
  transition: all 0.5s ease;
}
.card form input:hover{
  border-bottom: 2px solid rgb(60, 6, 255);
}
.card form label{
  margin-bottom: 20px;
  color: rgb(151, 151, 145);
  font-weight: bold;
}
.card .inner-form{
  display: flex;
  
}
.card .inner-form input{
  width: 245px;
  display: block;
}
.card form textarea{
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  outline: none;
  max-width: 100%;
  
}

.card form .button{
  display: flex;
  justify-content: space-between;
  width: 150px;
  transform: translateX(250px) translateY(50px);
}
.card form button{
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;
  transition: all 0.5s ease;
}
.card form button:hover{
  transform: scale(1.3);
  color: #fff;
}